<div class="customer-container">
    <div class="new-customer">
        <button mat-raised-button color="primary" (click)="newCustomer()">Agregar Cliente</button>
    </div>
    <div>
        <div class="customer-card" *ngFor="let item of customers">
            <mat-card >
                <mat-card-header>
                    <div mat-card-avatar class="customer-header-image"></div>
                    <mat-card-title>{{item.strNombre}}</mat-card-title>
                <mat-card-subtitle>Correo: {{item.strEmail}}</mat-card-subtitle>
                </mat-card-header>

            <mat-card-content>
                <p>
                    {{item.strIdentificadorFiscal}}
                </p>
            </mat-card-content>

            <mat-card-actions>
                <button class="btn btn-light" (click)="editCustomer(item.id)">Editar</button>
                <button class="btn btn-secondary" (click)="viewDetails(item.id)">Details</button>
            </mat-card-actions>
            </mat-card>
        </div>
    </div>
    <div class="paginator-container">
        <mat-paginator [length]="numberOfRecords"
               [pageSize]="pageSize"
               [pageSizeOptions]="pageSizeOptions"
               (page)="changuePage($event)">
        </mat-paginator>
    </div>
</div>
