.customer-container
{
    padding-top: 5%;
    @media(max-width: 767px){
        padding-top: 15%;
    }
}
.customer-card{
    display: inline-block;
    margin: 1%;
    width: 30%;
    @media (max-width:767px) {
        width: 98%;
    }
}
.customer-header-image{
    background-image: url('http://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}
.new-customer{
    margin-left: 1%;
    @media(max-width:767px){
        padding-bottom: 10px;
    }
}
.paginator-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

