<div class="new-customer-container">
    <h3>Details</h3>

    <mat-dialog-content>
        <div class="element-form">
            <label class="label-description">Nombre Completo:</label>
            <label>{{customer.strNombre}}</label>
        </div>
        <div class="element-form">
            <label class="label-description">Email:</label>
            <label>{{customer.strEmail}}</label>
        </div>
        <div class="element-form">
            <label class="label-description">Identificador Fiscal:</label>
            <label>{{customer.strIdentificadorFiscal}}</label>
        </div>
        <div class="element-form">
            <label class="label-description">Pais:</label>
            <label>México</label>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button mat-dialog-close>Close</button>
    </mat-dialog-actions>

</div>
